/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway Light'), local('Raleway-Light'), url(http://fonts.gstatic.com/s/raleway/v9/-_Ctzj9b56b8RgXW8FArifk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url(http://fonts.gstatic.com/s/raleway/v9/0dTEPzkLWceF7z0koJaX1A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), local('Raleway-Bold'), url(http://fonts.gstatic.com/s/raleway/v9/JbtMzqLaYbbbCL9X6EvaI_k_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin-ext */
@font-face {
  font-family: 'Niconne';
  font-style: normal;
  font-weight: 400;
  src: local('Niconne'), local('Niconne-Regular'), url(http://fonts.gstatic.com/s/niconne/v6/at9nZeERhG1mh4D7CWUJzfY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Niconne';
  font-style: normal;
  font-weight: 400;
  src: local('Niconne'), local('Niconne-Regular'), url(http://fonts.gstatic.com/s/niconne/v6/Ci0yFRBPDqtg7EHO7VR0Zw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin */
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(http://fonts.gstatic.com/s/pacifico/v7/Q_Z9mv4hySLTMoMjnk_rCfesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


/*
fondo
#E7FAFE

fuente color
#2ECCFA

cuadrado corazon menu
#C3EAF2

fondo galeria imagenes
#DBE6E9
*/


/* override by gio */
#headerwrap h1 {
font-family: 'Pacifico', cursive;
font-weight: normal !important;
}
.row h2 {
color: #2ECCFA;
}
.postYear {
background: #2ECCFA;
}
a {
color: #2ECCFA;
}
.grey {
background: #E7FAFE;
}
.exCon {
background: #E7FAFE;
}
.photostack {
background: #DBE6E9;
}
.photostack nav span.current {
background: #2ECCFA;
}
.menu-wrap {
background: #2ECCFA;
}
#menuToggle {
background: #C3EAF2;
}
.ch-info {
background: rgba(46, 204, 250, 0.8);
}
.menu h1.logo a:hover {
color: #7b7b7b;
}
/*.menu a > i.fa {
margin: 0;
}*/
#footer {
text-align: initial;
padding: 10px 0;
}
#footer i, #footer a, #footer span {
color: #fff
}
.evento-img img {
width: 100%;
}
#rsvpwrap {
  min-height: initial!important;
}
#rsvpwrap i {
  
  color: #2ECCFA;
}
#rsvpwrap i.gd-circle-icon {
  color: #fff;
}
#rsvpwrap .container {
  margin-top: 90px;
  margin-bottom: 90px;
}
#rsvpwrap .container a {
  color: #fff;
}
#rsvpwrap .container a:hover {
  color: #2ECCFA;
}
#rsvpwrap .container .fa-stack a:hover i {color: #fff;}
#rsvpwrap .container .fa-stack a:hover i.gd-circle-icon{color: #2ECCFA;}
.gd-download-invitation{
  margin-bottom: 50px;
}






